



<ng-template ngFor let-event [ngForOf]="liveEvents$ | async" let-i="index" >


  <span>{{event.liveData.score.home}}</span> - <span>{{event.liveData.score.away}}</span>

  <div [ngSwitch]="event.event.sport">


    <div *ngSwitchCase="'FOOTBALL'">

      <img src="../assets/images/football.png" alt="football">

    </div>

    <div *ngSwitchCase="'TENNIS'">
      <img src="../assets/images/tennis.png" alt="tennis">

    </div>


    <div *ngSwitchCase="'BASKETBALL'">
      <img src="../assets/images/basketball.png" alt="basketball">
    </div>

    <div *ngSwitchDefault>
      <img src="../assets/images/default.png" alt="default">
    </div>

  </div>

  <p>
    {{event.event.name}}
  </p>
  <p>{{event.event.start}}</p>


  <br>
  <br>
  <br>


</ng-template>

<router-outlet></router-outlet>
